*,
*::before,
*::after {
  box-sizing: border-box;
}
@font-face {
  font-family: "SF__Pro__Display";
  src: url("../fonts/SF-Pro-Display-Regular.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF__Pro__Display";
  src: url("../fonts/SF-Pro-Display-Bold.woff2") format("woff2"), url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "spaceagecyrillic";
  src: url("../fonts/spaceagecyrillic-regular.woff2") format("woff2"),
    url("../fonts/spaceagecyrillic-regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
body {
  color: #fff;
  font-family: "SF__Pro__Display";
  font-size: 16px;
  line-height: 1.19;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  /* font-family: "SF__Pro__Display"; */
}
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.title {
  font-family: "spaceagecyrillic";
  padding: 100px 0;
  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
}
.button {
  text-transform: uppercase;
  border: 1px solid #fff;
  font-size: 18px;
  line-height: 21px;
  padding: 20px 45px;
  transition: all 0.5s;
}
.button:hover,
.button:focus {
  /* color: #cb0e0e; */
  color: #9b44ff;
  /* border: 1px solid #cb0e0e; */
  border: 1px solid #9b44ff;
}
/*========================================HEADER===============================*/
.header {
  background-image: url(../images/header__bg.jpg);
  /* min-height: 100vh; */
  background-repeat: no-repeat;
  background-position: center; /*top */
  background-size: cover;
}
.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 75px 0 30px;
}
.menu__list {
  display: flex;
}
.menu__item:not(:last-child) {
  margin-right: 30px;
}
.menu__link {
  font-size: 18px;
  line-height: 1.17;
  transition: color 0.5s;
}
.menu__link:hover,
.menu__link:focus {
  /* color: #cb0e0e; */
  /* color: #9b44ff; */
  color: #036cca;
}
.phone {
  font-size: 24px;
  line-height: 1.21;
  margin-left: auto;
  transition: color 0.5s;
}
.phone:hover,
.phone:focus {
  color: #cb0e0e;
  /* color: #9b44ff; */
}
.login {
  margin-left: 22px;
  margin-right: 134px;
}
.header__content {
  max-width: 600px;
}
.header__title {
  font-family: "spaceagecyrillic";
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  margin-bottom: 30px;
}
.header__title span {
  font-size: 110px;
  /* line-height: 1; */
}
.header__text {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  line-height: 29px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.header__btn {
  width: 100%;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #fff;
  padding: 15px 10px 16px;
  transition: all 0.5s;
}
.header__btn:hover,
.header__btn:focus {
  /* color: #cb0e0e; */
  color: #9b44ff;
  /* border: 1px solid #cb0e0e; */
  border: 1px solid #9b44ff;
}
.header__description {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5%;
  margin-top: 40px;
}
.header__description-text {
  width: 165px;
  font-size: 16px;
  line-height: 20px;
}
.header__description-text + .header__description-text {
  margin-left: 52px;
}

/*========================================ABOUT===============================*/
.about {
  background-image: url(../images/about-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 150px;
}
.about__item:nth-child(odd) {
  flex-direction: row-reverse;
}
.about__img {
  max-width: 100%;
  border-radius: 1%;
  border: 4px solid rgb(3, 108, 202);
  box-shadow: rgb(255 255 255) 0px 0px 20px;
  transition: all 0.7s;
}
.about__img:hover {
  border: 4px solid rgb(155, 68, 255);
  box-shadow: rgb(255 255 255) 0px 0px 20px;
}

.about__content {
  width: 600px;
}
.about__content-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 5px;
}
.about__content-subtitle {
  color: #036cca;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.about__content-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.about__content-text p {
  width: 165px;
}
.about__table {
  margin-bottom: 50px;
}
.about__table-caption {
  caption-side: bottom;
  text-align: left;
  margin-top: 20px;
  font-size: 12px;
  line-height: 14px;
}
.about__table-tr {
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
}
.about__table-tr + .about__table-tr {
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
  text-align: center;
}
.about__table-td {
  padding: 10px 30px 10px 0px;
}
.about__table-td span {
  font-size: 14px;
  line-height: 17px;
  display: block;
}
/*========================================HOW-TO===============================*/
.how-to {
  background-image: url(../images/how-to-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-bottom: 100px;
}
.how-to__box {
  text-align: center;
}
.how-to__box circle,
.how-to__box text,
foreignObject {
  transition: all 0.5s;
  cursor: pointer;
  font-size: 18px;
  line-height: 21px;
}
.how-to__box g:hover circle {
  r: 20px;
  fill: #036cca;
}
.how-to__box g:hover text {
  fill: #036cca;
  font-size: 36px;
  line-height: 43px;
}
.how-to__box g:hover foreignObject {
  color: #036cca;
  font-size: 20px;
}
foreignObject {
  text-align: left;
  font-size: 18px;
  line-height: 21px;
}
/*========================================TO-BOOK===============================*/
.to-book {
  background-image: url(../images/to-book.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-bottom: 100px;
  height: 100vh;
}
.to-book__inner {
  display: flex;
  justify-content: space-between;
}
.to-book__text {
  width: 165px;
  font-size: 14px;
  line-height: 17px;
  margin-top: 100px;
}
.to-book__text:first-of-type {
  margin-right: 52px;
  margin-left: auto;
}
/*========================================INFO===============================*/
.info {
  background-image: url(../images/special-offer-bg.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}
.special-offer__inner {
  display: flex;
  justify-content: space-between;
}
.special-offer__item {
  width: 500px;
}
.special-offer__item-box {
  min-height: 400px;
  margin-bottom: 25px;
  border: 1px solid #fff;
  padding: 40px 75px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.special-offer__item-text {
  font-size: 24px;
  line-height: 29px;
  width: 236px;
  margin: 0 auto;
}
.special-offer__item-box span {
  color: #cb0e0e;
}
.special-offer__item + .special-offer__item {
  margin-left: 200px;
}
.special-offer__old-price {
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  margin-bottom: 15px;
  position: relative;
}
.special-offer__old-price::before {
  content: "";
  position: absolute;
  width: 68px;
  height: 1.5px;
  transform: rotate(15deg);
  top: 7px;
  right: 0;
  background-color: #cb0e0e;
}
.special-offer__new-price {
  font-size: 48px;
  line-height: 57px;
}
.special-offer__btn {
  width: 100%;
}
